{% extends "user/home_layout.html"%}
{%block content%}
   <div class="content" style="background-color: white;padding:3px;">
    <div class="row g-5">
    <div class="col-md-8">
        <h3 class="pb-4 mt-3 mb-4 fst-italic border-bottom">
           {{blog_deets.userdeets.user_fullname}}
          </h3>
      {% with messages=get_flashed_messages()%}
      {%if messages %}
      {% for m in messages %}
        <div class="alert alert-info">{{m}}</div>
        {% endfor %}
        {% endif %}
      {%endwith%}
      <article>
        <p>
            <h5>{{blog_deets.all_comments|count}} Comments</h5>
            {{blog_deets.topic_title}}
        </p>
      </article>
      <hr>
      <div class="comment">
            {% if blog_deets.all_comments %}
            {% for c in blog_deets.all_comments %}
            <p>{{c.comment_text}}</p>
            <p> by {{c.commentby.user_fullname}}</p>
            {% endfor %}
            {% endif %}
      </div>
      {% if session.get('user') !=None %}

        <form action="" method="post">
            <div class="form-group row">
                <label class="col-md-3">
                    say something about this post
                </label>
                <div class="col-md-8">
                    <textarea name="comment"  class="form-control border-success"></textarea>
                </div>
                <div>
                    <button class="btn btn-info col-4" type="submit">post</button>
                </div>
            </div>
        </form>

        {% endif %}

    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">


        <div class="p-4">
        {% if session.get('user') !=None%}
          <a href="/newtopic" class="btn btn-warning">Post new Topic</a>
        {% endif %}
          <h4 class="fst-italic">Archives</h4>
          <ol class="list-unstyled mb-0">
            <li><a href="#">Performing Artistes</a></li>
            <li><a href="#">Partner Hotels</a></li>
            <li><a href="#">Event Managers</a></li>
            <li><a href="#">Bids for Contracts</a></li>

          </ol>
        </div>


      </div>
    </div>
  </div>



   </div>
  </div>
{% endblock %}